<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <form action="/users/user-form" method="POST" enctype="multipart/form-data">

        <label for="firstName">FirstName:</label>
        <input type="text" name="firstName">

        <br>
        <br>

        <label for="lastName">LastName:</label>
        <input type="text" name="lastName">

        <br>
        <br>

        <label for="email">Email:</label>
        <input type="text" name="email">

        <br>
        <br>

        <label for="profileimage">Profile Image:</label>
        <input type="file" name="profileimage" />
        <!-- <button type="submit">Upload</button> -->

        <br>
        <br>

        <label for="job_Title">Job Title:</label>
        <input type="text" name="job_Title">

        <br>
        <br>

        <label for="gender">Gender:</label>
        <input type="text" name="gender">

        <input type="submit">
    </form>
</body>
</html>